body {
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  background-color: rgb(10, 10, 10);
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(56, 134, 62);
  height: 83px;

  margin: 0;
  padding: 20px;
}

.main {
  display: flex;
  height: calc(100vh - 83px);
}

.left-sidebar {
  background-color: rgb(136, 83, 83);
  padding: 0px 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.content {
}
