body {
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  background-color: rgb(10, 10, 10);
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}

button {
  padding: 10px 30px;
  font-size: 18px;
}

img {
  vertical-align: top;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul,
li {
  list-style-type: none;
  padding: 0;
}

.no-margin {
  margin: 0;
  padding: 0;
}

/* Header */

header {
  background-color: rgb(10, 10, 10);
  height: 46px;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  width: 220px;
  padding-left: 0px;
}

.flux-img {
  width: 30px;
  height: 30px;
  float: left;
  position: relative;
  top: 8px;
}

.flux-title {
  margin: 0;
  padding: 0;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-svg,
.cancel-svg {
  background-color: rgb(20, 20, 20);
  padding: 9px;
}

#search-box {
  background-color: rgb(20, 20, 20);
  color: white;
  width: 450px;
  height: 34px;
  margin: 0;
  padding: 0;
  border: none;
}

.right-buttons-header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.main {
  display: flex;
}

.left-sidebar {
  background-color: rgb(10, 10, 10);
  padding: 0px 20px;
  margin: 0;
  margin-bottom: 20px;
  width: 220px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid gray;
}

/* User Section */

.banner {
  height: 65px;
}

.user-container {
  padding: 0px;
  margin-top: 15px;
  display: flex;
}

.user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-infobox {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 15px;
}

.user-name {
  margin-left: 14px;
}

.current-user-status-dot {
  color: limegreen;
}

.current-status {
  margin-left: 14px;
  display: flex;
  flex-wrap: nowrap;
  font-size: 13px;
}

/* Following channels Section */

.following-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.following-title {
  display: flex;
  margin: 0;
  padding-top: 15px;
}

.followed-channels-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 15px 0px;
}

.followed-channel-element {
  display: flex;
  gap: 10px;
}

.author-infobox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.author-icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.author-nickname {
  margin: 0;
  padding: 0;
}

.author-stream-title {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

/* Recommendations Section */

.recommendations-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  border-bottom: 1px solid gray;
}

.recommendations-title {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top: 15px;
}

/* Hint-fact Section */

.hint-fact-container {
  background-color: rgb(24, 24, 24);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  padding: 20px;
  gap: 15px;
}

.hf-title {
  margin: 0;
  padding: 0;
}

.hf-text {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

/* Links Container */

.links-container {
  padding: 20px 0px;
  display: flex;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.links-title {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Feedback Section */

.feedback-container {
  margin: 0;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.feedback {
  margin: 0;
  padding: 0;
}

#feedback {
  height: 120px;
  background-color: rgb(31, 31, 31);
  color: white;
  padding: 10px;
  box-sizing: border-box;
  resize: none;
}

/* Other stuff Section */

.other-stuff-container {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 0px;
  display: flex;
  justify-content: space-between;
  position: relative;
  border-top: 1px solid gray;
}

.os-title {
  padding: 0;
  margin: 0;
}

/* Main content */

.hero {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0px 20px;
  margin-bottom: 20px;
}

/* Tree Section */

.tree-container {
  display: flex;
  gap: 70px;
}

.tree {
  position: relative;
  width: 900px;
  height: 493px;
}

.trunk {
  position: absolute;
  left: 43%;
  top: 50px;
  bottom: 50px;
  border-left: 1px solid gray;
}

.left-branches {
  border-top: 1px solid gray;
}

.right-branch {
  position: absolute;
  top: 240px;
  left: 43%;
  width: 60px;
  border-top: 1px solid gray;
}

.leaf {
  background-color: rgb(10, 10, 10);
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid gray;
}

.left1-branch {
  position: absolute;
  width: 110px;
  top: 148px;
  left: calc(43% - 110px);
}

.left1-box {
  width: 180px;
  height: 90px;
  top: 103px;
  left: calc(43% - 290px);
  padding: 10px;
}

.icon-and-nickname {
  display: flex;
  gap: 10px;
}

.author-icon-tree {
  width: 50px;
  height: 50px;
}

.text-author-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nickname {
  margin: 0;
  font-weight: bold;
}

.followers {
  margin: 0;
  font-size: 14px;
}

.author-short-info {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

.left2-branch {
  position: absolute;
  width: 50px;
  top: 342px;
  left: calc(43% - 50px);
}

.left2-box {
  width: 300px;
  height: 100px;
  padding: 10px;
  justify-content: space-evenly;
  top: 292px;
  left: calc(43% - 350px);
  font-size: 15px;
}

.user-nickname-to-yellow {
  color: gold;
}

.user-nickname-to-red {
  color: red;
}

.reply-to-text {
  color: gray;
  font-size: 14px;
}

.right-box {
  width: 388px;
  height: 218px;
  align-items: center;
  justify-content: center;
  top: 131px;
  left: calc(43% + 60px);
}

/* Tree - Author info Section */

.tree-author-infobox {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.about-section {
  width: 580px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-section {
  width: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
}

.info-section:hover {
  outline: 1px solid gray;
  transition: 0.2ms;
}

.showcase-title,
.category-title {
  text-align: center;
}

.author-stats-showcase {
  width: 420px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.author-stats-svg {
  width: 190px;
  height: 190px;
}

.author-stats-text {
  font-size: 15px;
}

.other-author-stats {
  margin: 0;
  padding: 0;
  height: 100px;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  border-top: 1px solid gray;
}

.other-author-stats li {
  font-size: 14px;
  color: gray;
}

/* Streams Sections */

.stream-container-title {
  font-weight: bold;
}

.stream-container {
  display: flex;
  justify-content: space-between;
}

.stream-group-1,
.stream-group-2 {
  width: 800px;
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.stream-box {
  width: 800px;
  display: flex;
  justify-content: space-between;
}

.stream-cover-and-info {
  display: flex;
  gap: 15px;
}

.stream-img {
  background-color: #1d1d1d;
  width: 270px;
  height: 152px;
  border-radius: 10px;
}

.stream-info {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.stream-author-box {
  display: flex;
  gap: 10px;
}

.stream-author-icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.amount-of-viewers {
  font-weight: 500;
}

.stream-categories {
  color: gray;
}

.amount-of-followers {
  font-size: 13px;
}

.swap-vertical-img {
  width: 30px;
  height: 30px;
  display: flex;
  padding-top: 10px;
  padding-right: 15px;
  flex-shrink: 0;
}

/* Categories Section */

.adjust-categories {
  display: flex;
  justify-content: space-between;
  padding-top: 4px;
  padding-bottom: 10px;
}

.sort-categories {
  display: flex;
}

.sort-categories .down-button {
  margin-top: 0px;
}

.combine-keywords-container {
  display: flex;
  gap: 10px;
}

.combine-keywords {
  background-color: rgb(29, 29, 29);
  padding: 0px 10px;
  border-radius: 20px;
  font-size: 14px;
}

.border-in-cb-container {
  border-right: 1px solid white;
  height: 20px;
  margin: 0;
}

.underline-in-cb-container {
  border-bottom: 1px solid gray;
  width: 90px;
  height: 20px;
  margin: 0;
}

.add-button {
  padding: 0px 5px;
  background-color: white;
  color: black;
  border-radius: 5px;
}

.previous-button,
.next-button {
  width: 18px;
  height: 18px;
}

.categories-list {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.categories-list li {
  display: flex;
}

.category-cover-img {
  border: none;
  background-color: #1d1d1d;
  width: 152px;
  height: 200px;
}

.category-infobox {
  padding: 10px;
  width: 143px;
  height: 200px;
  border-left: none;
  display: flex;
  flex-direction: column;
}

.category-info {
  width: 150px;
  display: flex;
  align-items: center;
}

.category-info-text {
  padding-top: 8px;
  font-size: 13px;
}

.next-previous-categories-buttons {
  display: flex;
  gap: 20px;
}

.vertical-line-1 {
  height: 19px;
  width: 1px;
  background-color: white;
}

/* Categories streams section */

.root-from-category {
  background-color: white;
  position: absolute;
  left: 356px;
  top: 1385px;
  width: 1px;
  height: 28px;
}

.main-root {
  background-color: white;
  position: absolute;
  left: 356px;
  top: 1413px;
  width: 1365px;
  height: 1px;
}

.root1,
.root2,
.root3,
.root4,
.root5 {
  background-color: white;
  position: absolute;
  top: 1413px;
  width: 1px;
  height: 28px;
}

.root1 {
  left: 433px;
}

.root2 {
  left: 755px;
}

.root3 {
  left: 1077px;
}

.root4 {
  left: 1399px;
}

.root5 {
  left: 1721px;
}

.categories-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 5px;
}

.category-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 35px;
}

.category-streams {
  width: 1603px;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.category-stream-container,
.moment-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.category-stream-cover {
  background-color: #1d1d1d;
  border-radius: 5px;
  width: 315px;
  height: 177px;
}

.category-stream-box {
  width: 315px;
  display: flex;
  justify-content: space-between;
  padding-left: 3px;
}

.category-stream-infobox {
  width: 315px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding-left: 3px;
}

.stream-title-box {
  height: 44px;
  display: flex;
  align-items: center;
}

.more-button-svg {
  width: 24px;
  height: 24px;
}

.categories-show-more-button {
  padding: 15px 0px;
  border-bottom: 1px solid gray;
}

.line-center {
  text-align: center;
  position: relative;
  font-weight: 500;
}
.line-center::before,
.line-center::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 47%;
  height: 1px;
  background: gray;
}
.line-center::before {
  left: 0;
  transform: translateY(-50%);
}
.line-center::after {
  right: 0;
  transform: translateY(-50%);
}

/* Trends Section */

.trends-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.trends-section .line-center::before {
  width: 46%;
}

.trends-section .line-center::after {
  width: 46%;
}

.trends-title-container {
  display: flex;
  justify-content: space-between;
  padding: 0px 3px;
}

.trends-title-box {
  display: flex;
  gap: 7px;
}

.trends-swap-button {
  width: 15px;
  height: 15px;
  margin-top: 3px;
}

/* Best clips Section */

.clips-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 5px;
}

.clips-section .line-center::before {
  width: 46%;
}

.clips-section .line-center::after {
  width: 46%;
}

.clips-title-container {
  display: flex;
  justify-content: space-between;
  padding: 0px 3px;
}

.clips-title-box {
  display: flex;
  gap: 3px;
}

.down-button {
  width: 22px;
  height: 22px;
}

/* Related to Section */

.related-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 5px;
}

.related-section .line-center::before {
  width: 46%;
}

.related-section .line-center::after {
  width: 46%;
}

.related-title-container {
  display: flex;
  justify-content: space-between;
  padding: 0px 3px;
}

.related-title-box {
  display: flex;
  gap: 3px;
}

.related-to-author-nickname {
  color: gray;
}

/* Chronology of moments Section */

.underline {
  position: absolute;
  background-color: gray;
  height: 1px;
  width: 1255px;
  left: 530px;
}

.underline1 {
  top: 2420px;
}

.line {
  position: absolute;
  background-color: gray;
  width: 1px;
  height: 15px;
}

.line1 {
  top: 2421px;
  left: 712px;
}

.line2 {
  top: 2421px;
  left: 1162px;
}

.line3 {
  top: 2421px;
  left: 1612px;
}

.chronology-container {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.chronology-title {
  font-weight: bold;
  display: flex;
  gap: 10px;
  align-items: center;
}

.chronology-swap-button {
  width: 16px;
  height: 16px;
}

.chronology-box {
  display: flex;
  gap: 10px;
}

.about-author {
  background-color: #1d1d1d;
  width: 200px;
  height: 280px;
  border-radius: 10px;
  padding: 10px;
}

.moments-box {
  width: 1365px;
  display: flex;
  flex-direction: column;
}

.moments {
  display: flex;
  justify-content: space-between;
}

.moments-container {
  display: flex;
  justify-content: space-between;
  margin: 0px 30px;
}

.moment-item {
  display: flex;
  gap: 10px;
}

.vertical-line {
  width: 1px;
  height: 114px;
  margin: 40px 48px;
}

.next-previous-moments-buttons {
  margin-top: 10px;
  margin-right: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.next-previous-moments-buttons svg {
  height: 90px;
}

.horizontal-line {
  width: 20px;
  height: 1px;
  background-color: white;
}

.chronology-stream-cover {
  background-color: #1d1d1d;
  border-radius: 5px;
  width: 345px;
  height: 194px;
}

.chronology-stream-infobox {
  width: 345px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chronology-stream-title {
  text-align: center;
}

.dates-of-moments {
  display: flex;
}

.first-date {
  padding-top: 28px;
  padding-left: 160px;
}

.second-date {
  padding-top: 28px;
  padding-left: 375px;
}

.third-date {
  padding-top: 28px;
  padding-left: 375px;
}

.three-circles-img {
  width: 40px;
  height: 40px;
  padding-left: 180px;
}
